

<div class="message">

    <div class="subject">
        {{subject}}
    </div>
    <div class="message_info">
        <div class="left">
            <div class="image">
                <img src="../assets/icons/person.png">
            </div>
            <div>
                <div class="_ab">
                    <h3>{{name}}</h3>
                    < {{from}} >
                </div>
                <div class="to">
                    <span>to</span>  {{ to}}
                </div>
            </div>
        </div>
        
        <div class=".time">
            {{time}}
        </div>
        
    </div>
    <div class="content">
        {{content}}
    </div>
    <button class="send_button"  *ngIf="hasAttachment" (click)="download()">Download attachment</button>
</div>




